name: Github Actions Demo
run-name: ${{ github.actor}} is testing Github Actions
on: [push]
jobs:
  Explore-Github_Actions:
    runs-on: ubuntu-latest
    steps:
    - name: Demo Secrets
      with:
        db_password: $ {{ secrets.DB_PASSWORD }}
    - run: echo "The was autopmatically triggered by a ${{ github.event_name }} event"
    - run: echo " the job is running on ${{ runner.os }} server hosted by Github"
    - run: echo " the name of the branch is  ${{ github.ref }} and repo is ${{ github.repository }}. "
    - name: checkout repository code
      uses: actions/checkout@v4
    - run: echo " the ${{ github.repository }} repository has been cloned to the runner "
    - run: echo "the workflow is ready to test your code "
    - name: List Files in Repo
      run: | 
         ls ${{ github.workspace }}
    - run: echo "the job status is ${{ job.status }}. "
